body {
  margin: 70px 30px 10px 30px;
  display: flex;
  justify-content: center;
  background-color: #222226;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  line-height: 1.7;
}

a {
  color: #ff8800;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

hr {
  background-color: #919191;
  border: 1px solid #919191;
  margin: 30px auto;
}