body {
  background-color: #2b2b33;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

ul {
  line-height: 1.75em;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #d6d6d6;
  margin-top: 90px;
  font-size: small;
}

footer a {
  color: #1ea5ff;
}